version: '3.8'

services:
  wireguard-dashboard:
    image: ghcr.io/3d0a/awgd_deploy:latest  # Финальный образ с другим тегом
    restart: unless-stopped
    container_name: wgdashboard
    network_mode: host
    volumes:
      - conf:/etc/wireguard
      - data:/data
      - /etc/amnezia:/etc/amnezia
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE

volumes:
  conf:
  data: